<section class="tab features {{tab.cssClass}}" data-group="primary" data-tab="features">
  {{> "modules/draw-steel-plus/templates/sheets/actor/shared/partials/search-filter.hbs"}}

  {{#if complications.showHeader}}
  <section class="item-list-container complications-list-container compact-group">
    <div class="item-header compact-group-header">
      <div class="item-column item-name">{{complications.label}}</div>
      <div class="item-column item-controls">
        {{#if complications.showAdd}}
        {{#with (localize "DRAW_STEEL.SHEET.Add" itemName=complications.label) as |addItemTooltip|}}
        <a class="createDoc" data-action="createDoc" data-document-class="Item" data-type="complication" data-render-sheet="true" data-tooltip-text="{{addItemTooltip}}">
          <i class="fa-solid fa-plus"></i>
        </a>
        {{/with}}
        {{/if}}
      </div>
    </div>
    <ol class="item-list complications-list">
      {{#each complications.complications as |complicationContext|}}
      {{> "modules/draw-steel-plus/templates/sheets/actor/compact/partials/simple-entry.hbs" ctx=complicationContext}}
      {{/each}}
    </ol>
  </section>
  {{/if}}

  <section class="item-list-container feature-list-container compact-group">
    <div class="item-header compact-group-header">
      <div class="item-column item-name">{{localize "TYPES.Item.feature"}}</div>
      <div class="item-column item-controls">
        {{#unless isPlay}}
        {{#with (localize "DRAW_STEEL.SHEET.Add" itemName=(localize "TYPES.Item.feature")) as |addItemTooltip|}}
        <a class="createDoc" data-action="createDoc" data-document-class="Item" data-type="feature" data-render-sheet="true" data-tooltip-text="{{addItemTooltip}}">
          <i class="fa-solid fa-plus"></i>
        </a>
        {{/with}}
        {{/unless}}
      </div>
    </div>
    <ol class="item-list feature-list">
      {{#each features as |featureContext|}}
      {{> "modules/draw-steel-plus/templates/sheets/actor/compact/partials/simple-entry.hbs" ctx=featureContext metaText=(localize featureContext.typeLabel)}}
      {{/each}}
    </ol>
  </section>
</section>
