<header class="sheet-header compact-header">

  <img class="header-bg-art" src="modules/draw-steel-plus/assets/sketch-images/s2.jpg" aria-hidden="true">
  <div class="header-bg-overlay"></div>

  <div class="dsp-compact-art" aria-hidden="true">
    <img class="dsp-compact-art-image" src="{{document.img}}" alt="">
  </div>

  {{!-- Portrait control: view artwork in play, edit image out of play. --}}
  <a class="compact-art-action" data-action="{{ifThen isPlay "showPortraitArtwork" "editPortraitImage"}}"
    {{#unless isPlay}}data-edit="img"{{/unless}}
    data-tooltip="{{localize (ifThen isPlay "DRAW_STEEL_PLUS.Sheet.ViewArtwork" "DRAW_STEEL_PLUS.Sheet.EditImage")}}">
    <i class="fa-solid {{ifThen isPlay "fa-expand" "fa-pen"}}"></i>
  </a>

  {{!-- Corner adornment, reference style: gradient ribbon carrying the role,
       pentagon level badge tucked under it. --}}
  <div class="compact-adornment">
    {{#if system.monster.roleLabel}}
    <div class="compact-ribbon" aria-hidden="true">{{system.monster.roleLabel}}</div>
    {{else if system.monster.organizationLabel}}
    <div class="compact-ribbon" aria-hidden="true">{{system.monster.organizationLabel}}</div>
    {{/if}}
    <div class="compact-tier-badge" data-tooltip-text="{{systemFields.monster.fields.level.label}} {{system.monster.level}}">{{system.monster.level}}</div>
  </div>

  <div class="compact-title-row">
    {{#if isPlay}}
    <h1 class="char-name">{{document.name}}</h1>
    {{else}}
    {{formInput fields.name value=source.name placeholder=(localize "Name") class="char-name-input"}}
    {{/if}}
  </div>

  <div class="compact-meta-row compact-npc-meta">
    {{#if monsterKeywords.length}}
    <span class="compact-keywords">{{#each monsterKeywords as |keyword|}}{{keyword}}{{#unless @last}}, {{/unless}}{{/each}}</span>
    <span class="compact-sep">&mdash;</span>
    {{/if}}
    <span class="compact-meta-stat">
      {{systemFields.monster.fields.level.label}} {{systemSource.monster.level}}{{#if system.monster.organizationLabel}} {{system.monster.organizationLabel}}{{/if}}
    </span>
    <span class="compact-sep">|</span>
    <span class="compact-meta-stat">
      {{localize "DRAW_STEEL.Actor.base.EVLabel.Label"}} {{system.evLabel}}
    </span>
    {{#unless isPlay}}
    <a data-action="editMonsterMetadata" class="compact-edit-meta" data-tooltip="DRAW_STEEL.Actor.npc.MonsterMetadata.DialogTitle">
      <i class="fa-solid fa-gear"></i>
    </a>
    {{/unless}}
  </div>

  {{#if system.source.label}}
  <div class="compact-attribution">{{system.source.label}}</div>
  {{/if}}

  {{#if showMalice}}
  <div class="compact-stat-line compact-malice-row">
    <span class="compact-label">{{malice.label}}</span>
    <input type="number" step="1" data-setting="malice" value="{{malice.value}}">
  </div>
  {{/if}}

  <div class="header-characteristics compact-characteristics">
    {{#each system.characteristics as |chr key|}}
    {{#if @root.isPlay}}
    <a
      class="char-badge {{disabled (not @root.owner)}}"
      data-action="roll"
      data-roll-type="characteristic"
      data-characteristic="{{key}}"
    >
      <span class="char-label">{{key}}</span>
      <span class="char-value">{{numberFormat chr.value sign=true}}</span>
    </a>
    {{else}}
    <label class="char-badge edit">
      <span class="char-label">{{key}}</span>
      <input type="number" name="system.characteristics.{{key}}.value" value="{{chr.value}}" placeholder="0">
    </label>
    {{/if}}
    {{/each}}
  </div>

  <div class="compact-stat-line compact-combat-row">
    <span class="compact-stat"><span class="compact-label">Size</span> <b>{{system.combat.size}}</b></span>
    <span class="compact-sep">|</span>
    <span class="compact-stat"><span class="compact-label">{{movement.list}}</span> <b>{{system.movement.value}}</b></span>
    <span class="compact-sep">|</span>
    <span class="compact-stat"><span class="compact-label">Stability</span> <b>{{system.combat.stability}}</b></span>
    <span class="compact-sep">|</span>
    <span class="compact-stat"><span class="compact-label">Disengage</span> <b>{{system.movement.disengage}}</b></span>
    <span class="compact-sep">|</span>
    <span class="compact-stat"><span class="compact-label">{{systemFields.monster.fields.freeStrike.label}}</span> <b>{{system.monster.freeStrike}}</b></span>
  </div>

  <div class="compact-stat-line compact-iw-row">
    <span class="compact-stat">
      <span class="compact-label">{{systemFields.damage.fields.immunities.label}}</span>
      {{#if damageIW.immunities}}<span class="compact-iw">{{{damageIW.immunities}}}</span>{{else}}<span class="compact-none">None</span>{{/if}}
    </span>
    <span class="compact-sep">|</span>
    <span class="compact-stat">
      <span class="compact-label">{{systemFields.damage.fields.weaknesses.label}}</span>
      {{#if damageIW.weaknesses}}<span class="compact-iw">{{{damageIW.weaknesses}}}</span>{{else}}<span class="compact-none">None</span>{{/if}}
    </span>
  </div>

</header>
