<section data-tab="{{tabs.details.id}}" data-group="{{tabs.details.group}}" class="{{tabs.details.cssClass}}">
  <div class="contents dsp-party-details">

    {{#if (and details.isOwner (not isPlay))}}
    <section class="dsp-party-edit-fields">
      {{formGroup fields.img value=source.img rootId=rootId}}
    </section>
    {{/if}}

    <section class="dsp-party-description standard-form">
      {{#if isPlay}}
      {{formInput systemFields.description.fields.value value=details.description.value}}
      {{else}}
      <div class="dsp-party-description-view">
        {{{details.description.enriched}}}
      </div>
      {{/if}}
    </section>

  </div>
</section>
