<header class="dsp-party-header">
  <div class="party-emblem-wrap">
    <img
      class="party-emblem"
      src="{{document.img}}"
      alt="{{document.name}}"
      data-action="{{ifThen isPlay "showPortraitArtwork" "editImage"}}"
      data-edit="img"
      title="{{document.name}}"
    >
  </div>

  <div class="party-identity">
    {{#if isPlay}}
    <h1 class="party-name">{{document.name}}</h1>
    {{else}}
    {{formInput fields.name value=source.name placeholder=(localize "Name") class="party-name-input"}}
    {{/if}}
  </div>

  <div class="party-actions">
    <a data-action="placeMembers" {{disabled (not header.canPlaceMembers)}} class="party-action-btn" data-tooltip="DRAW_STEEL.Actor.party.placeMembers">
      <i class="fa-solid fa-fw fa-bullseye"></i>
      <span>{{localize "DRAW_STEEL.Actor.party.placeMembers"}}</span>
    </a>
  </div>
</header>
