<li class="item {{ctx.item.type}} draggable expandable-document compact-entry" data-document-uuid="{{ctx.item.uuid}}">
  <div class="compact-entry-head item-name">
    {{#if preferred}}
    <span class="compact-preferred" data-tooltip="DRAW_STEEL.Item.kit.PreferredKit.Label"><i class="fa-solid fa-star"></i></span>
    {{/if}}
    <span class="label compact-entry-name" data-action="toggleDocumentDescription">{{ctx.item.name}}</span>
    {{#if metaText}}
    <span class="compact-entry-meta">&mdash; {{metaText}}</span>
    {{/if}}
    {{#if quantity}}
    <span class="compact-entry-meta quantity-controls">
      <button type="button" data-action="modifyItemQuantity" data-quantity-modification="decrease" data-tooltip="DRAW_STEEL_PLUS.Sheet.DecreaseQuantity" aria-label="{{localize 'DRAW_STEEL_PLUS.Sheet.DecreaseQuantity'}}"><i class="fa-regular fa-minus"></i></button>
      <span class="quantity">{{ctx.item.system.quantity}}</span>
      <button type="button" data-action="modifyItemQuantity" data-quantity-modification="increase" data-tooltip="DRAW_STEEL_PLUS.Sheet.IncreaseQuantity" aria-label="{{localize 'DRAW_STEEL_PLUS.Sheet.IncreaseQuantity'}}"><i class="fa-regular fa-plus"></i></button>
    </span>
    {{/if}}
    <span class="compact-entry-controls">
      {{#if playAction}}
      <button type="button" data-action="{{playAction}}" data-tooltip="DRAW_STEEL_PLUS.Sheet.Use" aria-label="{{localize 'DRAW_STEEL_PLUS.Sheet.Use'}}"><i class="fa-fw fa-solid fa-play" aria-hidden="true"></i></button>
      {{/if}}
      <button type="button" data-action="documentListShare" data-tooltip="DRAW_STEEL_PLUS.Sheet.Share" aria-label="{{localize 'DRAW_STEEL_PLUS.Sheet.Share'}}"><i class="fa-fw fa-solid fa-comment" aria-hidden="true"></i></button>
      {{#if @root.favoritesEnabled}}
      <button type="button" class="dsp-favorite-btn {{#if (or ctx.isFavorited forceFavorited)}}dsp-favorited{{/if}}" data-action="toggleFavorite" data-tooltip="{{#if (or ctx.isFavorited forceFavorited)}}DRAW_STEEL_PLUS.Favorites.Unfavorite{{else}}DRAW_STEEL_PLUS.Favorites.Favorite{{/if}}" aria-label="{{localize (ifThen (or ctx.isFavorited forceFavorited) 'DRAW_STEEL_PLUS.Favorites.Unfavorite' 'DRAW_STEEL_PLUS.Favorites.Favorite')}}"><i class="fa-{{#if (or ctx.isFavorited forceFavorited)}}solid{{else}}regular{{/if}} fa-star"></i></button>
      {{/if}}
      <button type="button" data-action="documentListContext" data-tooltip="DRAW_STEEL_PLUS.Sheet.MoreActions" aria-label="{{localize 'DRAW_STEEL_PLUS.Sheet.MoreActions'}}"><i class="fa-fw fa-solid fa-ellipsis-vertical" aria-hidden="true"></i></button>
      <button type="button" data-action="toggleDocumentDescription" data-tooltip="{{ifThen ctx.expanded 'DRAW_STEEL_PLUS.Sheet.Collapse' 'DRAW_STEEL_PLUS.Sheet.Expand'}}" aria-label="{{localize (ifThen ctx.expanded 'DRAW_STEEL_PLUS.Sheet.Collapse' 'DRAW_STEEL_PLUS.Sheet.Expand')}}" aria-expanded="{{ifThen ctx.expanded 'true' 'false'}}"><i class="fa-fw fa-solid fa-angle-{{ifThen ctx.expanded "down" "right"}}" aria-hidden="true"></i></button>
    </span>
  </div>
  <div class="document-description item-embed {{#if ctx.expanded}}expanded{{/if}}">
    {{#if ctx.expanded}}{{{ctx.embed.outerHTML}}}{{/if}}
  </div>
</li>
