<li class="item {{ctx.item.type}} draggable expandable-document compact-entry" data-document-uuid="{{ctx.item.uuid}}">
  <div class="compact-entry-head item-name">
    {{#if preferred}}
    <span class="compact-preferred" data-tooltip="DRAW_STEEL.Item.kit.PreferredKit.Label"><i class="fa-solid fa-star"></i></span>
    {{/if}}
    <span class="label compact-entry-name" data-action="toggleDocumentDescription">{{ctx.item.name}}</span>
    {{#if metaText}}
    <span class="compact-entry-meta">&mdash; {{metaText}}</span>
    {{/if}}
    {{#if quantity}}
    <span class="compact-entry-meta quantity-controls">
      <a data-action="modifyItemQuantity" data-quantity-modification="decrease"><i class="fa-regular fa-minus"></i></a>
      <span class="quantity">{{ctx.item.system.quantity}}</span>
      <a data-action="modifyItemQuantity" data-quantity-modification="increase"><i class="fa-regular fa-plus"></i></a>
    </span>
    {{/if}}
    <span class="compact-entry-controls">
      {{#if playAction}}
      <a class="fa-fw fa-solid fa-play" data-action="{{playAction}}"></a>
      {{/if}}
      <a class="fa-fw fa-solid fa-comment" data-action="documentListShare"></a>
      {{#if @root.favoritesEnabled}}
      <a class="dsp-favorite-btn {{#if (or ctx.isFavorited forceFavorited)}}dsp-favorited{{/if}}" data-action="toggleFavorite" data-tooltip="{{#if (or ctx.isFavorited forceFavorited)}}DRAW_STEEL_PLUS.Favorites.Unfavorite{{else}}DRAW_STEEL_PLUS.Favorites.Favorite{{/if}}"><i class="fa-{{#if (or ctx.isFavorited forceFavorited)}}solid{{else}}regular{{/if}} fa-star"></i></a>
      {{/if}}
      <a class="fa-fw fa-solid fa-ellipsis-vertical" data-action="documentListContext"></a>
      <a class="fa-fw fa-solid fa-angle-{{ifThen ctx.expanded "down" "right"}}" data-action="toggleDocumentDescription"></a>
    </span>
  </div>
  <div class="document-description item-embed {{#if ctx.expanded}}expanded{{/if}}">
    {{#if ctx.expanded}}{{{ctx.embed.outerHTML}}}{{/if}}
  </div>
</li>
