{{#*inline "headerTag"}}
{{#if originDoc}}
<span class="tag-content" data-document-uuid="{{lookup originDoc "uuid"}}">
  <a class="filled" data-action="viewDoc">
    {{lookup originDoc "name"}}
  </a>
  {{#unless (or @root.isPlay noEdit)}}
  <a data-action="deleteDoc" class="delete-icon">
    <i class="fa-solid fa-trash-can"></i>
  </a>
  {{/unless}}
</span>
{{else}}
{{#if @root.isPlay}}
<span class="unfilled">
  {{localize "DRAW_STEEL.SHEET.NoDocument" documentName=(localize (concat "TYPES.Item." originType))}}
</span>
{{else}}
{{#unless noEdit}}
<a class="unfilled add-icon" data-action="addOrigin" data-type="{{originType}}">
  {{localize "DRAW_STEEL.SHEET.Add" itemName=(localize (concat "TYPES.Item." originType))}}
</a>
{{/unless}}
{{/if}}
{{/if}}
{{/inline}}

<header class="sheet-header">

  <img class="header-bg-art" src="modules/draw-steel-plus/assets/sketch-images/s1.jpg" aria-hidden="true">
  <div class="header-bg-overlay"></div>

  <div class="header-portrait">
    <div class="portrait-frame">
      <img
        class="profile-img"
        src="{{document.img}}"
        alt="{{document.name}}"
        data-action="{{ifThen isPlay "showPortraitArtwork" "editImage"}}"
        data-edit="img"
        title="{{document.name}}"
      >
      <div class="level-badge" title="{{localize "DRAW_STEEL.Item.class.FIELDS.level.label"}}">
        {{#if system.advancementReady}}
        <a data-action="levelUp" data-tooltip="DRAW_STEEL.SHEET.LevelUp">
          <i class="fa-solid fa-arrow-up"></i>
        </a>
        {{else}}
        {{system.level}}
        {{/if}}
      </div>
      {{#if isPlay}}
      <a class="respite-btn" data-action="takeRespite" data-tooltip="DRAW_STEEL.Actor.hero.TakeRespite">
        <i class="fa-solid fa-bed"></i>
      </a>
      {{/if}}
    </div>

    {{#if isPlay}}
    <div class="header-vitals">
      <div class="stamina-bar" style="--stam-current: {{system.stamina.value}}; --stam-max: {{system.stamina.max}}; --stam-temp: {{system.stamina.temporary}};">
        <div class="stam-fill"></div>
        {{#if system.stamina.temporary}}
        <div class="stam-temp"></div>
        {{/if}}
        <span class="stam-display">
          {{system.stamina.value}}{{#if system.stamina.temporary}} <span class="stam-temp-text">(+{{system.stamina.temporary}})</span>{{/if}} / {{system.stamina.max}}
        </span>
      </div>

      <div class="vitals-row">
        <div class="vital-box rec-box" data-tooltip="DRAW_STEEL.Actor.base.SpendRecovery.tooltip">
          <i class="fa-solid fa-heart-pulse"></i>
          <span class="vital-nums">{{system.recoveries.value}}<span class="vital-sep">/</span>{{system.recoveries.max}}</span>
        </div>
        <div class="vital-box srg-box" data-tooltip="DRAW_STEEL.Setting.HeroTokens.GainSurges.tooltip">
          <i class="fa-solid fa-circle-bolt"></i>
          <span class="vital-nums">{{system.hero.surges}}</span>
        </div>
      </div>

    </div>
    {{/if}}
  </div>

  <div class="header-body">
    <div class="identity-block">
      <div class="name-row">
        {{#if isPlay}}
        <h1 class="char-name">{{document.name}}</h1>
        {{else}}
        {{formInput fields.name value=source.name placeholder=(localize "Name") class="char-name-input"}}
        {{/if}}
      </div>

      {{#if isPlay}}
      <div class="progression-subtitle">
        <span class="prog-value">{{system.hero.xp}}</span> <span class="prog-label">XP</span>
        <span class="prog-sep">|</span>
        <span class="prog-value">{{system.hero.victories}}</span> <span class="prog-label">Victories</span>
      </div>
      {{else}}
      <div class="progression-edit">
        {{formGroup systemFields.hero.fields.xp value=systemSource.hero.xp classes="xp-edit"}}
        {{formGroup systemFields.hero.fields.victories value=systemSource.hero.victories classes="victories-edit"}}
      </div>
      {{/if}}

      <div class="origins-row">
        <div class="ancestry tag">
          {{> headerTag originDoc=document.system.ancestry originType="ancestry"}}
        </div>
        <div class="culture tag">
          {{> headerTag originDoc=document.system.culture originType="culture"}}
        </div>
        <div class="career tag">
          {{> headerTag originDoc=document.system.career originType="career"}}
        </div>
        <div class="class tag">
          {{> headerTag originDoc=document.system.class originType="class"}}
        </div>
        {{#each document.system.subclasses as |subclass|}}
        <div class="subclass tag">
          {{> headerTag originDoc=subclass originType="subclass" noEdit=true}}
        </div>
        {{/each}}
      </div>
    </div>

    <div class="stats-block">
    </div>

    <div class="header-characteristics">
      {{#unless isPlay}}
      <button type="button" class="char-edit-btn fa-solid fa-cog" data-action="editCharacteristics"></button>
      {{/unless}}
      {{#each system.characteristics as |chr key|}}
      <a
        class="char-badge {{disabled (not @root.owner)}}"
        data-action="roll"
        data-roll-type="characteristic"
        data-characteristic="{{key}}"
        {{disabled (not @root.isPlay)}}
      >
        <span class="char-label">{{key}}</span>
        <span class="char-value">{{numberFormat chr.value sign=true}}</span>
      </a>
      {{/each}}
    </div>
  </div>

</header>
