{{! Stats Tab }}
<section class="tab stats standard-form {{tab.cssClass}}" data-group="primary" data-tab="stats">
  {{#if isPlay}}
  <div class="form-group">
    {{> "systems/draw-steel/templates/sheets/actor/shared/partials/stats/combat.hbs"}}
    {{> "systems/draw-steel/templates/sheets/actor/shared/partials/stats/movement.hbs"}}
  </div>
  {{else}}
  {{> "systems/draw-steel/templates/sheets/actor/shared/partials/stats/combat.hbs"}}
  {{> "systems/draw-steel/templates/sheets/actor/shared/partials/stats/movement.hbs"}}
  {{/if}}
  {{> "systems/draw-steel/templates/sheets/actor/shared/partials/stats/immunities-weaknesses.hbs"}}
  <fieldset class="skills">
    <legend>
      {{systemFields.hero.fields.skills.label}}
      {{#if unfilledSkill}}
      <button
        type="button"
        class="icon fa-solid fa-clipboard-question"
        {{! eslint-disable-next-line @html-eslint/no-duplicate-attrs }}
        data-tooltip-text="{{localize "DRAW_STEEL.ADVANCEMENT.FillTrait.button" type=(localize "TYPES.Advancement.skill")}}"
        data-tooltip-direction="UP"
        data-action="fillTrait"
        data-type="skill"
      >
      </button>
      {{/if}}
    </legend>
    {{#if isPlay}}
    {{skills.list}}
    {{else}}
    {{formInput systemFields.hero.fields.skills value=systemSource.hero.skills options=skills.options dataset=datasets.isSource}}
    {{/if}}
  </fieldset>
</section>
