<header class="sheet-header">

  <img class="header-bg-art" src="modules/draw-steel-plus/assets/sketch-images/s3.jpg" aria-hidden="true">
  <div class="header-bg-overlay"></div>

  <div class="header-portrait">
    <div class="portrait-frame">
      <img
        class="profile-img"
        src="{{document.img}}"
        alt="{{document.name}}"
        data-action="{{ifThen isPlay "showPortraitArtwork" "editImage"}}"
        data-edit="img"
        title="{{document.name}}"
      >
    </div>
  </div>

  <div class="header-body">
    <div class="identity-block">
      <div class="name-row">
        {{#if isPlay}}
        <h1 class="char-name">{{document.name}}</h1>
        {{else}}
        {{formInput fields.name value=source.name placeholder=(localize "Name") class="char-name-input"}}
        {{/if}}
      </div>

      {{#if (or system.level system.ev)}}
      <div class="progression-subtitle">
        {{#if system.level}}
        <span class="prog-value">{{system.level}}</span>
        <span class="prog-label">{{systemFields.object.fields.level.label}}</span>
        {{/if}}
        {{#if system.ev}}
        {{#if system.level}}<span class="prog-sep">|</span>{{/if}}
        <span class="prog-value">{{system.evLabel}}</span>
        <span class="prog-label">{{localize "DRAW_STEEL.Actor.base.EVLabel.Label"}}</span>
        {{/if}}
      </div>
      {{/if}}

      {{#if system.source.label}}
      <div class="npc-attribution">{{system.source.label}}</div>
      {{/if}}

      <div class="origins-row">
        {{#if system.object.categoryLabel}}
        <div class="tag">{{system.object.categoryLabel}}</div>
        {{/if}}
        {{#if system.object.roleLabel}}
        <div class="tag">{{system.object.roleLabel}}</div>
        {{/if}}
        {{#unless isPlay}}
        <div class="tag">
          <a data-action="editObjectMetadata" class="filled">
            <i class="fa-solid fa-gear"></i>
          </a>
        </div>
        {{/unless}}
      </div>
    </div>

    <div class="stats-block"></div>

    <div class="header-vitals">
      {{#if isPlay}}
      <div class="stamina-bar" style="--stam-current: {{system.stamina.value}}; --stam-max: {{system.stamina.max}}; --stam-temp: {{system.stamina.temporary}};">
        <div class="stam-fill"></div>
        {{#if system.stamina.temporary}}
        <div class="stam-temp"></div>
        {{/if}}
        <span class="stam-display">
          {{system.stamina.value}}{{#if system.stamina.temporary}} <span class="stam-temp-text">(+{{system.stamina.temporary}})</span>{{/if}} / {{system.stamina.max}}
        </span>
      </div>
      <div class="obj-stam-fields">
        <div class="obj-stam-field">
          <label>Current</label>
          <input type="number" name="system.stamina.value" value="{{system.stamina.value}}">
        </div>
        <div class="obj-stam-field">
          <label>Temp</label>
          <input type="number" name="system.stamina.temporary" value="{{system.stamina.temporary}}">
        </div>
      </div>
      {{else}}
      <div class="obj-stam-fields">
        <div class="obj-stam-field">
          <label>{{systemFields.stamina.fields.max.label}}</label>
          {{formInput systemFields.stamina.fields.max value=systemSource.stamina.max dataset=datasets.isSource}}
        </div>
        <div class="obj-stam-field">
          <label>{{systemFields.object.fields.squareStamina.label}}</label>
          {{formInput systemFields.object.fields.squareStamina value=systemSource.object.squareStamina dataset=datasets.isSource}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>

</header>
