{{! Stats Tab — stamina is shown in the sheet header }}
<section class="tab stats standard-form {{tab.cssClass}}" data-group="primary" data-tab="stats">
  {{#if isPlay}}
  <div class="form-group">
    <fieldset class="combat flexrow">
      <legend data-tooltip-html="{{combatTooltip}}">{{systemFields.combat.label}}</legend>
      <span class="play">
        <strong>{{systemFields.combat.fields.size.label}}</strong> {{system.combat.size}}
      </span>
      {{#if system.combat.size.typical}}
      <span class="play">
        <strong>{{systemFields.combat.fields.size.fields.typical.label}}</strong> {{system.combat.size.typical}}
      </span>
      {{/if}}
      {{#if system.combat.size.direction}}
      <span class="play">
        <strong>{{systemFields.combat.fields.size.fields.direction.label}}</strong> {{system.combat.size.direction}}
      </span>
      {{/if}}
      {{#if system.combat.stability}}
      <span class="play">
        <strong>{{systemFields.combat.fields.stability.label}}</strong> {{system.combat.stability}}
      </span>
      {{/if}}
    </fieldset>
    {{#if movement.show}}
    {{> "systems/draw-steel/templates/sheets/actor/shared/partials/stats/movement.hbs"}}
    {{/if}}
  </div>
  {{else}}
  <fieldset class="combat">
    <legend data-tooltip-html="{{combatTooltip}}">{{systemFields.combat.label}}</legend>
    <div class="size flexrow">
      <label class="size">{{systemFields.combat.fields.size.label}}</label>
      {{formInput systemFields.combat.fields.size.fields.value value=systemSource.combat.size.value rootId=document.uuid dataset=datasets.isSource}}
      {{#if (eq system.combat.size.value 1)}}
      {{formInput systemFields.combat.fields.size.fields.letter value=systemSource.combat.size.letter rootId=document.uuid dataset=datasets.isSource}}
      {{/if}}
    </div>
    {{formGroup systemFields.combat.fields.size.fields.text value=systemSource.combat.size.text placeholder=system.combat.size.textPlaceholder}}
    {{formGroup systemFields.combat.fields.size.fields.direction value=systemSource.combat.size.direction}}
    {{formGroup systemFields.combat.fields.size.fields.typical value=systemSource.combat.size.typical}}
  </fieldset>
  {{> "systems/draw-steel/templates/sheets/actor/shared/partials/stats/movement.hbs"}}
  {{/if}}
  {{> "systems/draw-steel/templates/sheets/actor/shared/partials/stats/immunities-weaknesses.hbs"}}
</section>
