<div>
  <fieldset>
    <legend>{{heroSection}}</legend>
    {{formGroup heroEnabled.field value=heroEnabled.value name="heroHeaderEnabled" label=heroEnabled.label hint=heroEnabled.hint}}
    <div class="form-group">
      <label>{{heroImage.label}}</label>
      <div class="form-fields">
        <button type="button" data-action="filePicker" class="icon" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input type="text" name="heroHeaderImage" value="{{heroImage.value}}" placeholder="">
      </div>
      <p class="hint">{{heroImage.hint}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{npcSection}}</legend>
    {{formGroup npcEnabled.field value=npcEnabled.value name="npcHeaderEnabled" label=npcEnabled.label hint=npcEnabled.hint}}
    <div class="form-group">
      <label>{{npcImage.label}}</label>
      <div class="form-fields">
        <button type="button" data-action="filePicker" class="icon" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input type="text" name="npcHeaderImage" value="{{npcImage.value}}" placeholder="">
      </div>
      <p class="hint">{{npcImage.hint}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{objectSection}}</legend>
    {{formGroup objectEnabled.field value=objectEnabled.value name="objectHeaderEnabled" label=objectEnabled.label hint=objectEnabled.hint}}
    <div class="form-group">
      <label>{{objectImage.label}}</label>
      <div class="form-fields">
        <button type="button" data-action="filePicker" class="icon" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input type="text" name="objectHeaderImage" value="{{objectImage.value}}" placeholder="">
      </div>
      <p class="hint">{{objectImage.hint}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{retainerSection}}</legend>
    {{formGroup retainerEnabled.field value=retainerEnabled.value name="retainerHeaderEnabled" label=retainerEnabled.label hint=retainerEnabled.hint}}
    <div class="form-group">
      <label>{{retainerImage.label}}</label>
      <div class="form-fields">
        <button type="button" data-action="filePicker" class="icon" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input type="text" name="retainerHeaderImage" value="{{retainerImage.value}}" placeholder="">
      </div>
      <p class="hint">{{retainerImage.hint}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{partySection}}</legend>
    {{formGroup partyEnabled.field value=partyEnabled.value name="partyHeaderEnabled" label=partyEnabled.label hint=partyEnabled.hint}}
    <div class="form-group">
      <label>{{partyImage.label}}</label>
      <div class="form-fields">
        <button type="button" data-action="filePicker" class="icon" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input type="text" name="partyHeaderImage" value="{{partyImage.value}}" placeholder="">
      </div>
      <p class="hint">{{partyImage.hint}}</p>
    </div>
  </fieldset>
</div>
