<div>
  <fieldset>
    <legend>{{combatTrackerSection}}</legend>
    {{formGroup useCombatTrackerPanel.field value=useCombatTrackerPanel.value name="useCombatTrackerPanel" label=useCombatTrackerPanel.label hint=useCombatTrackerPanel.hint}}
    {{formGroup combatTrackerDspStyle.field value=combatTrackerDspStyle.value name="combatTrackerDspStyle" label=combatTrackerDspStyle.label hint=combatTrackerDspStyle.hint}}
  </fieldset>

  <fieldset>
    <legend>{{abilityHudSection}}</legend>
    {{formGroup useAbilityHudPanel.field value=useAbilityHudPanel.value name="useAbilityHudPanel" label=useAbilityHudPanel.label hint=useAbilityHudPanel.hint}}
    {{formGroup abilityHudDspStyle.field value=abilityHudDspStyle.value name="abilityHudDspStyle" label=abilityHudDspStyle.label hint=abilityHudDspStyle.hint}}
  </fieldset>

  <fieldset>
    <legend>{{targetDamageSection}}</legend>
    {{formGroup targetDamageStyling.field value=targetDamageStyling.value name="targetDamageStyling" label=targetDamageStyling.label hint=targetDamageStyling.hint}}
  </fieldset>
</div>
