<div>
  <fieldset>
    {{formGroup fontScale.field value=fontScale.value name="fontScale" label=fontScale.label hint=fontScale.hint min=0.75 max=1.5 step=0.05}}
    {{formGroup floatingNavTabs.field value=floatingNavTabs.value name="floatingNavTabs" label=floatingNavTabs.label hint=floatingNavTabs.hint}}
    {{formGroup improvedChat.field value=improvedChat.value name="improvedChat" label=improvedChat.label hint=improvedChat.hint}}
    {{formGroup useCustomMetaCurrency.field value=useCustomMetaCurrency.value name="useCustomMetaCurrency" label=useCustomMetaCurrency.label hint=useCustomMetaCurrency.hint}}
    {{formGroup floatingUIGridSize.field value=floatingUIGridSize.value name="floatingUIGridSize" label=floatingUIGridSize.label hint=floatingUIGridSize.hint min=4 max=80 step=2}}
    {{formGroup floatingUIShowOverlay.field value=floatingUIShowOverlay.value name="floatingUIShowOverlay" label=floatingUIShowOverlay.label hint=floatingUIShowOverlay.hint}}
  </fieldset>
</div>
