<section class="content">
  <section class="header">
    <div class="top">
      <img src="{{img}}" alt="{{name}}" />
      <div class="name name-stacked">
        <span class="title">{{name}}</span>
        {{#if durationLabel}}
        <span class="subtitle duration">{{durationLabel}}</span>
        {{/if}}
        {{#if originName}}
        <span class="subtitle source">{{appliedByLabel}} {{originName}}</span>
        {{/if}}
      </div>
    </div>
  </section>

  {{#if hasBody}}
    {{#if bodyIsEmbed}}
    <section class="embed-body">{{{bodyHtml}}}</section>
    {{else}}
    <section class="embed-fallback description">{{{bodyHtml}}}</section>
    {{/if}}
  {{/if}}

  {{#if properties.length}}
  <ul class="pills">
    {{#each properties as |prop|}}
    <li class="pill"><span class="label">{{prop}}</span></li>
    {{/each}}
  </ul>
  {{/if}}

  <div class="tooltip-hint">
    <span class="tooltip-hint-pin"><i class="fa-solid fa-computer-mouse tooltip-hint-icon" inert></i>{{hintPin}}</span>
    <span class="tooltip-hint-unpin"><i class="fa-solid fa-computer-mouse tooltip-hint-icon" inert></i>{{hintUnpin}}</span>
  </div>
</section>
