<section class="content">
  <section class="header">
    <div class="top">
      <img src="{{img}}" alt="{{name}}" />
      <div class="name name-stacked">
        <span class="title">{{name}}</span>
        {{#if subtitle}}
        <span class="subtitle">{{subtitle}}</span>
        {{/if}}
      </div>
      {{#if hasCostBadge}}
      <div class="header-badges">
        <div class="metadata-item header-badge">
          <span class="label">{{costBadge.label}}</span>
          <span class="value">{{costBadge.value}}</span>
        </div>
      </div>
      {{/if}}
    </div>
    {{#if hasQuickFacts}}
    <ul class="quick-facts">
      {{#each quickFacts as |f|}}
      <li class="quick-fact">
        <span class="label">{{f.label}}</span>
        <span class="value">{{f.value}}</span>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if hasPills}}
    <ul class="pills">
      {{#each pills as |pill|}}
      <li class="pill"><span class="label">{{pill}}</span></li>
      {{/each}}
    </ul>
    {{/if}}
  </section>

  {{#if hasSupplemental}}
  <section class="supplemental">
    {{#if supplemental.description}}
    <div class="supplemental-description">
      <div class="supplemental-label">{{supplemental.descriptionLabel}}</div>
      <div class="supplemental-body">{{{supplemental.description}}}</div>
    </div>
    {{/if}}
    {{#if supplemental.reactiveLabel}}
    <p class="supplemental-reactive"><strong>{{supplemental.reactiveLabel}}</strong></p>
    {{/if}}
  </section>
  {{/if}}

  {{#if hasBody}}
    {{#if bodyIsEmbed}}
    <section class="embed-body">{{{bodyHtml}}}</section>
    {{else}}
    <section class="embed-fallback description">{{{bodyHtml}}}</section>
    {{/if}}
  {{/if}}

  <div class="tooltip-hint">
    <span class="tooltip-hint-pin"><i class="fa-solid fa-computer-mouse tooltip-hint-icon" inert></i>{{hintPin}}</span>
    <span class="tooltip-hint-unpin"><i class="fa-solid fa-computer-mouse tooltip-hint-icon" inert></i>{{hintUnpin}}</span>
  </div>
</section>
