<div class="chat-card result-card">
  {{#if part.flavor}}
  <p class="supplement flavor">{{{part.flavor}}}</p>
  {{/if}}
  <div class="card-rolls">
    {{#each ctx.rolls}}{{{this}}}{{/each}}
  </div>
  {{#if ctx.resultHTML}}
  <section class="card-result">
    {{#if ctx.foundItem}}
    <dl class="power-roll-display">
      <dt class="{{part.tierKey}}">{{ctx.tierSymbol}}</dt>
      <dd>{{{ctx.resultHTML}}}</dd>
    </dl>
    {{else}}
    <p class="supplement">{{localize "DRAW_STEEL.Item.ability.EmbedFail"}}</p>
    {{/if}}
  </section>
  {{/if}}
  {{#if ctx.buttons.length}}
  <div class="card-buttons">
    {{#each ctx.buttons as |button|}}{{{button.outerHTML}}}{{/each}}
  </div>
  {{/if}}
</div>
