<div class="chat-card request-card">
  {{#if part.flavor}}
  <p class="supplement flavor">{{{part.flavor}}}</p>
  {{/if}}
  {{#if ctx.resultHTML}}
  <secret-block>
    <section class="secret {{ctx.revealClass}}" id="test-request-{{document.id}}-{{part.id}}">
      {{{ctx.resultHTML}}}
    </section>
  </secret-block>
  {{/if}}
  {{#if ctx.buttons}}
  <div class="card-buttons">
    {{#each ctx.buttons as |button|}}{{{button.outerHTML}}}{{/each}}
  </div>
  {{/if}}
</div>
