<div class="chat-card test-card">
  {{#if part.flavor}}
  <p class="supplement flavor">{{{part.flavor}}}</p>
  {{/if}}
  <div class="card-rolls">
    {{#each ctx.rolls}}{{{this}}}{{/each}}
  </div>
  {{#if ctx.resultHTML}}
  <section class="card-result">
    <dl class="power-roll-display">
      <dt class="{{ctx.tierKey}}">{{ctx.tierSymbol}}</dt>
      <dd>{{{ctx.resultHTML}}}</dd>
    </dl>
  </section>
  {{/if}}
  {{#if ctx.buttons}}
  <div class="card-buttons">
    {{#each ctx.buttons as |button|}}{{{button.outerHTML}}}{{/each}}
  </div>
  {{/if}}
</div>
